/* Propriétés CSS appliquées à tous les écrans (Desktop, tablet, mobile) */

/* Ôter les styles par défaut et définir couleur noire lorsque la souris n'est pas au-dessus du lien */
a {
    color: black;
    text-decoration: none;
}

/* Couleur bleue au survol */

a:hover {
    color:#0065FC;
}

/* Ôter les styles par défaut du menu */

.menu {
    text-decoration: none;
}

/* Texte du menu en bleu lorsque la souris le survol */

.menu:hover {
    color:#0065FC;
}

/* Style de la police d'écriture regular hors balises sémantiques */

.style-regular {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin-top: 8px;
}

/* Styles de la barre de recherche */

label {
    font-size: 25px;
    background-color: #F2F2F2;
    border-radius: 20px 0px 0px 20px;
    padding: 10px;
}

#barre {
    border: 1px #F2F2F2 solid;
}

input {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: black;
    border: none;
    text-align: center;
    padding: 10px;
}

button {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-align: center;
    background-color: #0065FC;
    border-radius: 0px 20px 20px 0px;
    border: none;
    padding: 10px;
}

/* Styles de la zone info dans le header */

#info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#info-contour {
    border: 1px #F2F2F2 solid;
    border-radius: 50%;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color:#0065FC;
    margin-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 11px;
    padding-right: 11px;
}

/* Styles des articles de la zone main */

.art-lien {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-article {
    background-color: white;
    margin: 10px;
    padding-top: 5px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

/* Styles des titres h2 et h3 */

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

/* Styles des images de la zone main */

.img-cards {
    display: block;
    width: 96%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    margin: 0 auto;
}

/* Style de la police en gras utilisée pour "afficher plus" */

#style-bold {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
}

/* Positionnement du texte dans un bloc article de la zone Main */

.art-text {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
}

/* Couleurs des étoiles */

.blue {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}

/* Placement des éléments de la zone titre du bloc aside */

#as-titre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Placement des élements d'un bloc article de la zone aside */

.as-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 150px;
}

/* Style d'un article de la zone aside*/

.as-article {
    background-color: white;
    margin: 10px;
    padding-top: 5px;
    padding-left: 3px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

/* Image d'un article dans la zone aside */

.as-img-cards {
    display: block;
    width: 96%;
    height: 96%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    margin: 0 auto;
}

/* Placement du texte d'un article de la zone aside */

.as-art-text {
    display: grid;
    grid-template-rows: 120px 30px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Placement des éléments du bloc activités (titre et articles) */

#activites {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

/* Image d'un article dans la zone activités */

.img-activites {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    margin: 0 auto;
}

/* Styles du footer */

.footer-col {
    padding: 20px;
}

.footer-bold {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 20px;
}

.footer-regular {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin: 20px;
}

/* Propriétés CSS appliquées aux écrans Desktop */

@media screen and (min-width: 992px) and (max-width: 1400px) {
     
/* Placement du header en version Desktop */

    header {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
/* Placement de la zone en-tête dans la version Desktop */

    #en-tete {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

/* Logo version Desktop */

    #logo {
            width: 50%;
            height: auto;
            object-fit: cover;
            margin-top: 10px;
        }

/* Menu version Desktop */

    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        flex: 1;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        padding: 25px;
        border-top: 3px  #F2F2F2 solid;
    }
        
    li:hover {
        border-top: 3px  #0065FC solid;
    }

/* Zone recherche - le mot "Rechercher" apparaît et non la loupe en version Desktop */

    #mobile1 {
            display: none;
        }
        
/* Placement des éléments de la zone de titre en version Desktop */

    #titre-site {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

/* Style du titre h1 en version Desktop */

    h1 {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        font-weight: 700;
    }

/* Placement des éléments des zones recherche et filtres en version Desktop */

    #recherche, #filtres {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

/* Style des filtres en version Desktop */

    #filtres-bord-sans {
        border: 1px white solid;
        padding-bottom: 11px;
        margin: 20px;
    }

    #filtres-bord-sans-police {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: black;
    }

    .filtres-blocs {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .filtres-bord {
        border: 1px #F2F2F2 solid;
        border-radius: 30px 30px 30px 30px;
        padding: 8px;
        margin: 10px;
        height: 30px;
        display: flex;
        align-items: center;
    }

    .filtres-bord:hover {
        background-color: #DEEBFF;
    }
    
    .filtres-blue {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 700;
        color:#0065FC;
        margin: 5px;
        line-height: 30px;
        vertical-align: middle;
    }
    
    .filtres-black {
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: black;
        margin: 5px;
        line-height: 30px;
        vertical-align: middle;
    }

/* Placement des blocs main et aside en version Desktop */

    #body-sec {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 20px;
        gap: 20px;
    }
    
/* Placement et style d'un bloc de la section body-sec en Desktop */

    .cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #F2F2F2;
        border-radius: 20px 20px 20px 20px;
        padding: 30px;
    }

/* Placement des articles de la section "Hébergements à Marseille" en Desktop */

    #cards-box {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

/* Placement des éléments textes et image d'un article de la section Main en Desktop */

    .art-column {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 100px 35px 35px 30px;
    }

/* Placement des articles dans le bloc aside en Desktop */

    #as-cards {
        display: flex;
        flex-direction: column;
    }

/* Placement des articles dans le bloc "Activités" en Desktop */

    #sec-activites {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

/* Style d'un article du bloc "Activités" en Desktop */

    .art-activites {
        display: grid;
        grid-template-columns: 280px;
        grid-template-rows: 350px 50px;
        background-color: white;
        margin: 10px;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    }

/* Style du texte dans la section "Activités" en Desktop */

    .text-activites {
        padding-left: 20px;
        padding-top: 5px;
    }

/* Style du footer en Desktop */

    footer {
        background-color: #F2F2F2;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 30px;
    }
}

/* Propriétés CSS appliquées au format tablet */

@media screen and (min-width: 768px) and (max-width: 991px) {  

/* Placement du header en version Tablet */

    header {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
    }

/* Placement de la zone en-tête dans la version Tablet */

    #en-tete {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
    }

/* Logo version tablet */

    #logo {
        width: 50%;
        height: auto;
        object-fit: cover;
        margin-top: 10px;
    }

/* Menu version Tablet */

    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    li {
        flex: 1;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        padding: 25px;
        border-top: 3px  #F2F2F2 solid;
    }
            
    li:hover {
        border-top: 3px  #0065FC solid;
    }

/* Zone recherche - la loupe apparaît et non le mot "Rechercher" en version tablet */

    #desktop1 {
        display: none;
    }

/* Placement des éléments de la zone de titre en version Tablet */

    #titre-site {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

/* Style du titre h1 en version Tablet */

    h1 {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        font-weight: 700;
    }

/* Placement des éléments des zones recherche et filtres en version Tablet */

    #recherche, #filtres {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

/* Style des filtres en version Tablet */

    #filtres-bord-sans {
        border: 1px white solid;
        padding-bottom: 11px;
        margin: 20px;
    }

    #filtres-bord-sans-police {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: black;
    }

    .filtres-blocs {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .filtres-bord {
        border: 1px #F2F2F2 solid;
        border-radius: 30px 30px 30px 30px;
        padding: 8px;
        margin: 10px;
        height: 30px;
        display: flex;
        align-items: center;
    }
    
    .filtres-blue {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 700;
        color:#0065FC;
        margin: 5px;
        line-height: 30px;
        vertical-align: middle;
    }
    
    .filtres-black {
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: black;
        margin: 5px;
        line-height: 30px;
        vertical-align: middle;
    }

/* Placement des blocs main et aside en version Tablet */

    #body-sec {
        display: grid;
        grid-template-columns: 1fr;
        margin: 50px;
        gap: 20px;
    }

/* Placement et style d'un bloc de la section body-sec en Tablet */

    .cards {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        border-radius: 20px 20px 20px 20px;
        padding: 30px;
    }

/* Placement des articles de la section "Hébergements à Marseille" en Tablet */

    #cards-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 250px 250px;
    }

/* Placement des éléments textes et image d'un article de la section Main en Tablet */

    .art-column {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 100px 35px 35px 30px;
    }

/* Placement des articles dans le bloc aside en Tablet */

    #as-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 250px;
    }

/* Placement des articles dans le bloc "Activités" en Tablet */

    #sec-activites {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

/* Style d'un article du bloc "Activités" en Tablet */

    .art-activites {
        display: grid;
        grid-template-columns: 160px;
        grid-template-rows: 200px 60px;
        background-color: white;
        margin: 10px;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    }

/* Style du texte dans la section "Activités" en Tablet */

    .text-activites {
        padding-left: 12px;
        padding-top: 2px;
    }

/* Style du footer en Tablet */

    footer {
        background-color: #F2F2F2;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px;
    }
}

/* Placement du header en version Mobile */

@media screen and (max-width: 767px) {

/* Placement du header en version Mobile */

    header {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

/* Placement de la zone en-tête dans la version Mobile */

    #en-tete {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        margin-bottom: 20px;
        width: 100%;
    }

/* Placement des éléments en-tête en version mobile */

    .elem-en-tete {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        width: 100%;
    }

/* Logo version mobile */

    #logo {
        display: block;
        width: 18%;
        height: auto;
        margin : 0 auto;
    }

/* Menu version Mobile */

    nav {
        width: 90%;
    }

    ul {
        display: flex;
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    li {
        flex: 1;
        justify-content: space-between;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        padding: 25px;
        border-bottom: 3px  #F2F2F2 solid;
    }
        
    li:hover {
        border-bottom: 3px  #0065FC solid;
    }

/* Zone recherche - la loupe apparaît et non le mot "Rechercher" en version Mobile */

    #desktop1 {
        display: none;
    }

/* Placement des éléments de la zone de titre en version Mobile */

    #titre-site {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

/* Style du titre h1 en version Mobile */

    h1 {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
    }

/* Placement des éléments des zones recherche et filtres en version Mobile */

    #recherche {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #filtres {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

/* Style des filtres en version Mobile */

    #filtres-bord-sans {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30px 60px 60px;
        height: 180px;
        margin-right: 70px;
        margin-left: 20px;
        margin-right: 20px;
        border: 1px white solid;
        border-radius: 30px 30px 30px 30px;
        height: 30px;
    }

    #filtres-bord-sans-police {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: black;
    }

    .filtres-blocs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px;
        grid-gap: 20px;
    }

    .filtres-bord {
        border: 1px #F2F2F2 solid;
        border-radius: 30px 30px 30px 30px;
        padding: 8px;
        margin: 10px;
        height: 30px;
        display: flex;
        align-items: center;
    }
    
    .filtres-blue {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 700;
        color:#0065FC;
        margin: 5px;
        line-height: 30px;
        vertical-align: middle;
    }
    
    .filtres-black {
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        font-weight: 700;
        color: black;
        margin: 5px;
        line-height: 30px;
        vertical-align: middle;
    }

/* Placement des blocs main et aside en version Mobile */

    #body-sec {
        display: flex;
        flex-direction: column-reverse;
        margin: 20px;
        gap: 20px;
    }

/* Placement et style d'un bloc de la section body-sec en Mobile */

    .cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #F2F2F2;
        border-radius: 20px 20px 20px 20px;
        padding: 30px;
}

/* Placement des articles de la section "Hébergements à Marseille" en Mobile */

    #cards-box {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 250px 250px 250px 250px 250px 250px;
    }

/* Placement des éléments textes et image d'un article de la section Main en Mobile */

    .art-column {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 35px 35px 30px;
    }

/* Placement des articles dans le bloc aside en Mobile */

    #as-cards {
        display: flex;
        flex-direction: column;
    }

/* Placement des articles dans le bloc "Activités" en Mobile */

    #sec-activites {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

/* Style d'un article du bloc "Activités" en Mobile */
    
    .art-activites {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 250px 50px;
        background-color: white;
        margin: 10px;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    }

/* Style du texte dans la section "Activités" en Mobile */

    .text-activites {
        padding-left: 20px;
        padding-top: 10px;
    }

/* Style du footer en Tablet */

    footer {
        background-color: #F2F2F2;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
    }
}